*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
p,
a,
span {
  font-family: "Kanit", sans-serif;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (min-width: 1700px) {
  .container {
    max-width: 1400px;
  }
}

.main__hero {
  background-image: linear-gradient(135deg, #fffef7 10%, rgba(0, 0, 0, 0) 100%), url("/images/chiangmai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.main__hero__bottom {
  position: absolute;
  left: 0px;
  bottom: -1px;
}

.main__hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}

.main__hero__container__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.main__hero__container__left svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 3.583rem;
  padding-left: 1.44rem;
  padding-right: 1.44rem;
}

.main__hero__container__left svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main__hero__container__left:hover svg path {
  fill: #89ab45;
}

.main__hero__container__carusel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding-top: 12rem;
  padding-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .main__hero__container__carusel {
    padding-top: 8rem;
  }
}

.main__hero__container__carusel__pages {
  position: absolute;
  bottom: 7vh;
  left: calc(50% - 3.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.main__hero__container__carusel__pages__circle1 {
  height: 1.2rem;
  width: 1.2rem;
  margin: 1.2rem;
  border-radius: 4rem;
  background-color: rgba(6, 43, 102, 0.7);
  cursor: pointer;
}

.main__hero__container__carusel__pages__circle2 {
  margin: 1.2rem;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 4rem;
  background-color: rgba(6, 43, 102, 0.3);
  cursor: pointer;
}

.main__hero__container__carusel__list {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  overflow: hidden;
}

.main__hero__container__carusel__list__item1 {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .main__hero__container__carusel__list__item1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__hero__container__carusel__list__item1__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 2.986rem;
}

@media only screen and (max-width: 900px) {
  .main__hero__container__carusel__list__item1__left {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0px;
    padding-top: 6.192rem;
  }
}

.main__hero__container__carusel__list__item1__left h2 {
  color: #062b66;
  font-size: 5.16rem;
  text-align: left;
  line-height: 1;
}

.main__hero__container__carusel__list__item1__left h2 #text-logo {
  display: inline-block;
  height: 8.916rem;
  margin-left: 1.728rem;
  padding-top: 1.2rem;
}

.main__hero__container__carusel__list__item1__left p {
  margin-top: 2.986rem;
  font-size: 2.074rem;
  color: #062b66;
}

.main__hero__container__carusel__list__item1__left a {
  margin-top: 2.986rem;
  border: 5px solid #feca4f;
  -webkit-box-shadow: 0 0 20px rgba(34, 34, 68, 0.2);
          box-shadow: 0 0 20px rgba(34, 34, 68, 0.2);
  background-color: #222244;
  color: #feca4f;
  padding: 1.2rem 2.986rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2.986rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .main__hero__container__carusel__list__item1__left a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.main__hero__container__carusel__list__item1__left a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  border: 5px solid #062b66;
  -webkit-box-shadow: 0 5px 26px rgba(34, 34, 68, 0.4);
          box-shadow: 0 5px 26px rgba(34, 34, 68, 0.4);
  color: #062b66;
  background-color: rgba(62, 62, 122, 0.1);
}

.main__hero__container__carusel__list__item1__right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main__hero__container__carusel__list__item1__right img {
  height: auto;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 6.192rem;
}

@media only screen and (max-width: 900px) {
  .main__hero__container__carusel__list__item1__right img {
    height: auto;
    width: 50%;
    margin-top: 2.986rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__hero__container__carusel__list__item1__right img {
    width: 70%;
  }
}

.main__hero__container__carusel__list__item2 {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .main__hero__container__carusel__list__item2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.main__hero__container__carusel__list__item2__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 2.488rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 900px) {
  .main__hero__container__carusel__list__item2__left {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0px;
    padding-top: 6.192rem;
  }
}

.main__hero__container__carusel__list__item2__left h2 {
  color: #062b66;
  font-size: 5.16rem;
  text-align: left;
  line-height: 0.7;
}

.main__hero__container__carusel__list__item2__left h2 #text-logo {
  display: inline-block;
  height: 8.916rem;
  margin-left: 1.728rem;
  padding-top: 1.2rem;
}

.main__hero__container__carusel__list__item2__left p {
  margin-top: 2.986rem;
  font-size: 2.074rem;
  color: #062b66;
}

.main__hero__container__carusel__list__item2__left a {
  margin-top: 2.986rem;
  border: 5px solid #feca4f;
  -webkit-box-shadow: 0 0 20px rgba(34, 34, 68, 0.2);
          box-shadow: 0 0 20px rgba(34, 34, 68, 0.2);
  background-color: #222244;
  color: #feca4f;
  padding: 1.2rem 2.986rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2.986rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .main__hero__container__carusel__list__item2__left a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.main__hero__container__carusel__list__item2__left a:hover {
  margin-top: 2.986rem;
  border: 5px solid #062b66;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 26px rgba(34, 34, 68, 0.4);
          box-shadow: 0 5px 26px rgba(34, 34, 68, 0.4);
  color: #062b66;
  background-color: rgba(62, 62, 122, 0.1);
}

.main__hero__container__carusel__list__item2__right {
  width: 100%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main__hero__container__carusel__list__item2__right img {
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 900px) {
  .main__hero__container__carusel__list__item2__right img {
    height: auto;
    width: 50%;
    margin-top: 2.986rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__hero__container__carusel__list__item2__right img {
    width: 70%;
  }
}

.main__hero__container__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.main__hero__container__right svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 3.583rem;
  padding-right: 1.44rem;
  padding-left: 1.44rem;
}

.main__hero__container__right svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main__hero__container__right:hover svg path {
  fill: #89ab45;
}

.main__whoarewe {
  margin-top: 2.986rem;
}

@media only screen and (max-width: 900px) {
  .main__whoarewe {
    padding: 1.44rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__whoarewe {
    padding: 1.2rem;
  }
}

.main__whoarewe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__whoarewe__container h1 {
  font-size: 5.16rem;
  color: #062b66;
  line-height: 1.2;
  text-align: center;
}

.main__whoarewe__container p {
  margin-top: 3.583rem;
  -webkit-column-count: 2;
          column-count: 2;
  color: #062b66;
  font-size: 2.488rem;
  max-width: 100rem;
}

@media only screen and (max-width: 600px) {
  .main__whoarewe__container p {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.main .news-feed {
  padding-top: 5.16rem;
}

.main .news-feed h3 {
  text-align: center;
  padding-bottom: 3.583rem;
  font-size: 5.16rem;
  color: #062b66;
  line-height: 1;
}

.main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .row .col-sm-4 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 3.583rem;
  background-color: #fffef7;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 30px rgba(6, 43, 102, 0.3);
          box-shadow: 0 10px 30px rgba(6, 43, 102, 0.3);
  height: 50rem;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .main .row .col-sm-4 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .main .row .col-sm-4 {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

.main .row .card-NP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .row .col-sm-4 .card-text-NP {
  padding: 1.44rem;
  background-color: #fffef7;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .row .col-sm-4 h4 {
  font-size: 2.488rem;
  padding-bottom: 1rem;
  color: #062b66;
}

.main .row .col-sm-4 p {
  font-size: 1.728rem;
  color: #062b66;
}

.main .row .img-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
}

.main .row img {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.main .row img:hover {
  max-width: 100%;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

@media only screen and (max-width: 900px) {
  .main__partners {
    padding: 1.44rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__partners {
    padding: 1.2rem;
  }
}

.main__partners__container h3 {
  font-size: 5.16rem;
  color: #062b66;
  text-align: center;
  margin-top: 5.16rem;
}

.main__partners__container__osmep {
  margin-top: 3.583rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .main__partners__container__osmep {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__partners__container__osmep__left {
  padding-right: 1.44rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__osmep__left {
    margin-bottom: 2.074rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__partners__container__osmep__left {
    padding: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .main__partners__container__osmep__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__partners__container__osmep__left img {
  width: 30rem;
}

.main__partners__container__osmep__right {
  padding-left: 1.44rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 600px) {
  .main__partners__container__osmep__right {
    padding: 0px;
  }
}

.main__partners__container__osmep__right h4 {
  color: #0078c1;
  font-size: 2.986rem;
  max-width: 50rem;
  line-height: 1.2;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__osmep__right h4 {
    max-width: 200rem;
    text-align: center;
  }
}

.main__partners__container__osmep__right p {
  margin-top: 2.074rem;
  color: rgba(6, 43, 102, 0.8);
  font-size: 2.074rem;
  max-width: 50rem;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__osmep__right p {
    max-width: 200rem;
  }
}

.main__partners__container__cmu {
  margin-top: 3.583rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .main__partners__container__cmu {
    margin-top: 5.16rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__partners__container__cmu__left {
  padding-right: 1.44rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .main__partners__container__cmu__left {
    padding: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .main__partners__container__cmu__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .main__partners__container__cmu__left {
    text-align: left;
  }
}

.main__partners__container__cmu__left h4 {
  color: #9b77b4;
  font-size: 3.583rem;
  max-width: 50rem;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__cmu__left h4 {
    max-width: 200rem;
    width: 100%;
    text-align: center;
    line-height: 1;
  }
}

.main__partners__container__cmu__left p {
  margin-top: 2.074rem;
  color: #062b66;
  font-size: 2.074rem;
  max-width: 50rem;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__cmu__left p {
    max-width: 200rem;
  }
}

.main__partners__container__cmu__right {
  padding-left: 1.44rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__cmu__right {
    padding: 0px;
    margin-bottom: 2.074rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__partners__container__cmu__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__partners__container__cmu__right img {
  width: 16rem;
}

.main__partners__container__elscm {
  margin-top: 3.583rem;
  margin-bottom: 5.16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .main__partners__container__elscm {
    margin-top: 5.16rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__partners__container__elscm__left {
  padding-right: 1.44rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__elscm__left {
    margin-bottom: 2.074rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__partners__container__elscm__left {
    padding: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .main__partners__container__elscm__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__partners__container__elscm__left img {
  width: 30rem;
}

.main__partners__container__elscm__right {
  padding-left: 1.44rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__elscm__right {
    padding: 0px;
  }
}

.main__partners__container__elscm__right h4 {
  color: #cd3e27;
  font-size: 3.583rem;
  max-width: 50rem;
  line-height: 1.2;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__elscm__right h4 {
    max-width: 200rem;
    text-align: center;
  }
}

.main__partners__container__elscm__right p {
  margin-top: 2.074rem;
  color: #062b66;
  font-size: 2.074rem;
  max-width: 50rem;
}

@media only screen and (max-width: 900px) {
  .main__partners__container__elscm__right p {
    max-width: 200rem;
  }
}

.main__abouthero {
  padding: 10.4rem 1.44rem;
  padding-bottom: 7rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #fffef7), to(rgba(255, 254, 247, 0.4))), url("/images/facultyofengineering.jpg");
  background-image: linear-gradient(180deg, #fffef7 10%, rgba(255, 254, 247, 0.4) 100%), url("/images/facultyofengineering.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.main__abouthero__bottom {
  position: absolute;
  left: 0px;
  bottom: -1px;
}

.main__abouthero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
  max-width: 100rem;
}

.main__abouthero__container h3 {
  margin-top: 5.16rem;
  color: #062b66;
  font-size: 5.16rem;
  line-height: 1;
}

.main__abouthero__container p {
  color: #062b66;
  font-size: 2.488rem;
  margin-top: 3.583rem;
  margin-bottom: 5.16rem;
  -webkit-column-count: 2;
          column-count: 2;
}

@media only screen and (max-width: 600px) {
  .main__abouthero__container p {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.main__team {
  margin-bottom: 2.074rem;
}

.main__team__container h3 {
  color: #062b66;
  font-size: 5.16rem;
  text-align: center;
  line-height: 1;
  margin-top: 2.986rem;
  margin-bottom: 2.986rem;
}

.main__team__container h4 {
  color: #062b66;
  font-size: 2.074rem;
  text-align: center;
  margin-top: 1.44rem;
}

.main__team__container p {
  color: #3e3e7a;
  font-size: 1.728rem;
}

.main__team__container img {
  height: 20rem;
}

.main__team__container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__team__container__top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.986rem;
}

.main__team__container__bottom img {
  height: 15rem;
}

.menu-wrap {
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 800px) {
  .menu-wrap {
    display: none;
  }
}

.btn {
  display: inline-block;
  border: none;
  background: #062b66;
  color: #062b66;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap .toggler {
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 6.192rem;
  height: 6.192rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 3px;
  background: #062b66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background: #f5f4ed;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #f5f4ed;
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(6, 43, 102, 0.7);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #f5f4ed;
  font-size: 2.986rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

body {
  background-color: #f5f4ed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.44rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid rgba(245, 244, 237, 0.1);
  z-index: 3;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container__logo {
  height: 8.916rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .header__container__nav {
    display: none;
  }
}

.header__container__nav__ul {
  font-size: 1.728rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container__nav__ul li:nth-child(1),
.header__container__nav__ul li:nth-child(2),
.header__container__nav__ul li:nth-child(3),
.header__container__nav__ul li:nth-child(4) {
  margin-right: 2.074rem;
}

.header__container__nav__ul li:nth-child(5) {
  margin-right: 2.488rem;
}

.header__container__nav__ul li {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__container__nav__ul li a::after {
  content: " ";
  position: absolute;
  width: 0%;
  left: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__container__nav__ul a {
  text-decoration: none;
  color: #062b66;
  font-weight: 600;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__container__nav__ul li:hover {
  position: relative;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.header__container__nav__ul li:hover a {
  text-shadow: 0px 0px 38px rgba(6, 43, 102, 0.3);
}

.header__container__nav__ul li:hover a::after {
  content: " ";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 95%;
  height: 1px;
  background-color: rgba(34, 34, 68, 0.7);
  -webkit-box-shadow: 0 0px 30px rgba(34, 34, 68, 0.4);
          box-shadow: 0 0px 30px rgba(34, 34, 68, 0.4);
  z-index: 2;
}

.header__container__nav__ul a:hover {
  color: #222244;
}

.header__container .facebook-svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 3.583rem;
  border-radius: 50%;
}

.header__container .facebook-svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__container .facebook-svg:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0px 16px rgba(6, 43, 102, 0.4);
          box-shadow: 0 0px 16px rgba(6, 43, 102, 0.4);
}

.header__container .facebook-svg:hover path {
  fill: #222244;
}

.header-hide {
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(245, 244, 237, 0.8);
  -webkit-box-shadow: 0 0 20px rgba(6, 43, 102, 0.2);
          box-shadow: 0 0 20px rgba(6, 43, 102, 0.2);
  border: 1px solid rgba(6, 43, 102, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

@media only screen and (max-width: 800px) {
  .header-hide {
    background-color: rgba(245, 244, 237, 0.1);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
}

.header-hide img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 4.3rem;
}

.footer {
  background-color: #062b66;
  padding: 5.16rem 1.44rem;
}

.footer__container__footerlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.488rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 900px) {
  .footer__container__footerlogo {
    margin-top: 5.16rem;
  }
}

.footer__container__footerlogo img {
  height: 10rem;
}

.footer__container__footerboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 900px) {
  .footer__container__footerboxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__container__footerboxes__box1 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container__footerboxes__box1 h4 {
  color: rgba(245, 244, 237, 0.8);
  font-size: 2.488rem;
  text-transform: uppercase;
}

.footer__container__footerboxes__box1 ul {
  margin-top: 1.44rem;
}

.footer__container__footerboxes__box1 ul li {
  color: rgba(245, 244, 237, 0.4);
  font-size: 2.074rem;
}

.footer__container__footerboxes__box1 ul a {
  text-decoration: none;
  color: #f5f4ed;
  font-size: 2.074rem;
}

.footer__container__footerboxes__box2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .footer__container__footerboxes__box2 {
    margin-top: 2.986rem;
  }
}

.footer__container__footerboxes__box2 h4 {
  color: rgba(245, 244, 237, 0.8);
  font-size: 2.488rem;
  text-transform: uppercase;
}

.footer__container__footerboxes__box2 p {
  margin-top: 1.44rem;
  color: #f5f4ed;
  font-size: 2.074rem;
}

.footer__container__footerboxes__box3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .footer__container__footerboxes__box3 {
    margin-top: 2.986rem;
  }
}

.footer__container__footerboxes__box3 h4 {
  color: rgba(245, 244, 237, 0.8);
  font-size: 2.488rem;
  text-transform: uppercase;
}

.footer__container__footerboxes__box3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-top: 1.44rem;
  color: #f5f4ed;
  font-size: 2.074rem;
}

.footer__container__footerboxes__box3 svg {
  margin-top: 1rem;
  height: 4.3rem;
}
/*# sourceMappingURL=style.css.map */